.container {
    width: 600px;
    height: 600px;
    text-align: center;
    position: absolute;
    border: 1px solid #000062;
    left: 25%;
    box-sizing: border-box;
    padding: 10px;
    background-color: azure;
    border-radius: 10px;
    border-bottom: 4px solid #6d6b6b;
}

.header-cp {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    /*border: 1px solid #000062;*/
}

.header-cp span {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #000062;
    border-radius: 10px;
    font-size: 25px;
    color: aliceblue;
    
}

.desc-cp1, .desc-cp2, .desc-cp3,
.desc-cp4, .desc-cp5, .desc-cp6,
.desc-cp7, .desc-cp8, .desc-cp9 {
    width: 160px;
    height: 100px;
    background-color: bisque;
    position: absolute;
    font-size: 20px;
    padding: 15px;
    box-sizing: border-box;
}

.desc-cp1 {
    left: 10px;
    background-color: #1c26aa;
    color: #fff;
    border-radius: 10px;
    border-bottom: 5px solid #6d6b6b;
    border-right: 2px solid #6d6b6b;

}


.desc-cp2 {
    left: 220px;
    background-color: #acb1f9;
    color: #fff;
    border-radius: 10px;
    border-bottom: 5px solid #111;
    border-right: 2px solid #111;

}

.desc-cp3 {
    right: 10px;
    background-color: #acb1f9;
    color: #fff;
    border-radius: 10px;
    border-bottom: 5px solid #111;
    border-right: 2px solid #111;

}
.desc-cp4 {
    left: 10px;
    top: 300px;
    background-color: #1c26aa;
    color: #fff;
    border-radius: 10px;
    border-bottom: 5px solid #6d6b6b;
    border-right: 2px solid #6d6b6b;

}
.desc-cp5 {
    left: 220px;
    top: 300px;
    background-color: #acb1f9;
    color: #fff;
    border-radius: 10px;
    border-bottom: 5px solid #111;
    border-right: 2px solid #111;

}
.desc-cp6 {
    right: 10px;
    top: 300px;
    background-color: #acb1f9;
    color: #fff;
    border-radius: 10px;
    border-bottom: 5px solid #111;
    border-right: 2px solid #111;

}
.desc-cp7 {
    left: 10px;
    top: 450px;
    background-color: #1c26aa;
    color: #fff;
    border-radius: 10px;
    border-bottom: 5px solid #6d6b6b;
    border-right: 2px solid #6d6b6b;

}
.desc-cp8 {
    left: 220px;
    top: 450px;
    background-color: #acb1f9;
    color: #fff;
    border-radius: 10px;
    border-bottom: 5px solid #111;
    border-right: 2px solid #111;

}
.desc-cp9 {
    right: 10px;
    top: 450px;
    background-color: #acb1f9;
    color: #fff;
    border-radius: 10px;
    border-bottom: 5px solid #111;
    border-right: 2px solid #111;

}