.main_header{
    width: 100%;
    background-color: #2d3142;
}

.main_header .main_header_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.main_header .main_header_content .logo{
    flex-basis: 330px;
    padding: 20px;
    width: 290px;
}

.main_header .main_header_content .main_header_content_menu{
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul{
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li{
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a{
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #d36833;
}

.main_header_content_menu ul li a:hover{
    color: #fff;
    background-color: #d36833;
}

/* Primeira dobra */

.main_cta{
    width: 100%;
    background-image: url(../_img/bg_main_home.png);
    background-color: #2d3142;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_cta .main_cta_content{
    max-width: 1300px;
    margin: 0 auto;
}

.main_cta .main_cta_content h1{
    font-size: 3em;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.main_cta .main_cta_content p{
    font-size: 1.875em;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 20px 0px;
}

.main_cta .main_cta_content .btn{
    background-color: #d36833;
    color: #fff;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}

.main_cta .main_cta_content .main_cta_content_spacer{
    margin: 0 auto;
    max-width: 1300px;
    padding: 220px 40px;

}

/* Estilização os Artigos */

.main_blog{
    max-width: calc(1300px - 40px) ;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_blog .main_blog_header{
    flex-basis: 100%;
    margin: 30px 0;
}

.main_blog .main_blog_header h1{
    color: #333;
    margin-bottom: 5px;
    font-size: 2em;
}

.main_blog article{
    opacity: 0.7;
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;
    
}

.main_blog article:hover{
    opacity: 1;
}

.main_blog article img{
    width: 100%;
}

.main_blog article p{
    margin: 10px 0;
   
}

.main_blog article .category{
    font-size: 0.875;
    color: #d36833;
}

.main_blog article h2{
    font-weight: 300;
    font-size: 1.2em;
}

.main_blog article h2 a{
    color: #333;
}

/* Optin */

.main_optin{
    width: 100%;
    background-color: #2d3142;
    margin: 40px 0px;
}

.main_optin_content{
    max-width: calc(1300px - 40px);
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
}

.main_optin_content header, .main_optin_content form{
    flex-basis: 50%;
}

.main_optin_content h1, .main_optin_content p{
    color: #fff;
    margin-right: 20px;
    text-align: right;
}

.main_optin_content h1{
    font-size: 1.3em;
    font-weight: 400;
}

.main_optin_content p{
    font-size: 1em;
    font-weight: 300;
}

.main_optin_content form{
    display: flex;
    justify-content: space-between;
}

.main_optin_content form input[type=text], .main_optin_content form input[type=email]{
    flex-basis: 37%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: none;
    padding: 0 10px;
    
}

.main_optin_content form button{
    flex-basis: 20%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    background-color: #d36833;
    border: none;
    font-size: 0.875em;
}

/* Curse */

.main_curse{
    width: 100%;

}

.main_curse .main_curse_header{
    max-width: 785px;
    margin: 0 auto;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.main_curse .main_curse_header img{
    margin-bottom: 20px;

}

.main_curse .main_curse_header h1{
    font-size: 3em;
    margin-bottom: 40px;

}

.main_curse_content{
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.main_curse_content article{
    flex-basis: calc(50% - 40px);
    margin: 20px 0;
    background-color: #EBEBEB;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px;
}

.main_curse_content article h2{
    font-size: 1.3em;
    color: #333;
    margin-bottom: 4px;

}

.main_curse_content article p{
    font-size: 0.9em;
    color: #333;
}

/* Reviwes */

.main_curso_fullwidth{
    width: 100%;
    background-color: #d36833;
    padding: 40px 0;
}

.main_course_rating_content{
    max-width: 1300px;
    margin: 0 auto;
}

.main_course_rating_content_title{
    color: #FFF;
    text-align: center;
}

.main_course_rating_content_title h2{
    font-size: 2.4em;
    margin-bottom: 20px;
}

.main_course_rating_content_comment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_course_rating_content_comment > header{
    flex-basis: 100%;
    color: #FFF;
    text-align: center;
    margin-top: 20px;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.main_course_rating_content_comment > article{
    flex-basis: calc(50% - 20px);
    margin: 20px 0;
    background-color: #EBEBEB;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px;
    color: #333;
}

.main_course_rating_content_comment > article h3{
    font-size: 1.2em;
    margin-bottom: 4px;
}

.main_course_rating_content_comment > article img{
    width: 15px;
    margin-top: 5px;
}

/* School */

.main_school{
    size: 100%;
}

.main_school_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_school_header{
    flex-basis: 100%;
    padding: 40px 0;
    color: #333;
}

.main_school_header h1{
    font-size: 2.2em;
    margin-bottom: 10px;
}

.main_school_content_left{
    flex-basis: calc(70% - 20px);
}

.main_school_content_left_social_network{
    background-color: #2d3142;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_school_content_left_social_network span{
    margin-left: 20px;
}

.main_school_content_left_social_network a{
    color: #FFF;
    font-size: 0.9em;
}

.main_school_content_left_social_network a:hover{
    text-decoration: underline;
}

.main_school_content_right{
    flex-basis: 30%;
}

.main_school_content_right img{
    width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

}