body {
    background-color: #c2c779;
}

h1 {
    font-size: 2.5rem;
    color: #fff;    
}

p {
    font-size: 1.5rem;
    margin: 5px;
    padding: 5px;
}

ul {
    color: #fff;
    border: 5px solid #b6887d;
    background-color: #f98173;
    padding: 15px;
}

li {
    font-size: 1.5rem;

}

/* Background Opacity */

.bg-opacity {
    background-color: green;
    color: #111111;
    opacity: 0.3;
    padding: 1px;
    margin: 5px ;
    border: 2px solid #fff;
}

.bg-image {
    background-image: url("../img/5801353.jpg");
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    
}

.not-certered-bg,
.certered-bg {
    height: 400px;
    width: 800px;
    background-image: url("../img/8625340.jpg");
}

.certered-bg {
    background-position: center;
    background-size: cover;
}

/* heigth & width */

.heigth-width {
    height: 350px;
    width: 275px;
    background-color:#78160c;
}

.heigth-width-2 {
    height: 300px;
    background-color: #1e0503;
}


/* 23 - Padding */

.without-padding,
.padding {
    background-color: #ffd7a7;
    color: #780703;
}

.padding {
    padding: 25px;
    border-top: 3px solid #780703;
}

/* 24 - Padding individual */
.paddin-ind {
    background-color: #542700;
    color: #ffffd7;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 40px;

}

/* 25 - ShortHand */

.shorthand-padding {
    background-color: #fdff00;
    padding: 10px 20px 30px 15px;
}

.shorthand-padding-2 {
    background-color: #ffff6d;
    padding: 20px 10px;
}

/* 26 - Border Box */

.without-border-box {
    background-color: #287e1c;
    width: 400px;
    padding: 50px;
}

.without-border-box-2 {
    background-color: #a4df90;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/*  27 - Border */

.border {
    border: 5px solid #2813ba ;
    padding: 10px;
}

.border-2 {
    border: 5px dotted #fabaff;
    padding: 15px;
}

/* 29 - Border Radius */

.border-radius {
    border: 4px solid #1f061e;
    background-color: #fcacf6;
    padding: 15px;
    border-radius: 15px;
}

.border-radius-2 {
    margin-top: 5px;
    background-color: #d9bbd8;
    padding: 15px;
    border-radius: 50px;
}

/* 33 - Text alignment */


.text-align {
    text-align: right;
}

.container-center {
    text-align: center;
    width: 300px;
    border: 1px solid #320139;
    
}

.container-center h1 {
    border-bottom: 1px solid #320139;
    
}

/* 34 Text decoration */

.underline {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: #780703;
}

/* 35- Text transforme */

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

/* 36 latter spacing */

.spacing {
    letter-spacing: 5px;
}

/* Display */

.inline-box {
    height: 100px;
    width: 100px;
    background-color: #287e1c;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;

}

.block {
    background-color: #d9bbd8;
    margin: 10px;
    padding: 5px;
    display: block;
}

/* Escondendo elementos */

.invisible {
    display: none;
}

/* Static */

.static {
    position: static;
    width: 150px;
    height: 150px;
    color: #a4df90;
    background-color: #111111;
    padding: 10px;
}

/* Relative */

.relative {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #78160c;
    color: #fff;
    top: 100px;
    left: 40px;
}

.absolute {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #2813ba;
    color: aqua;
    top: 2px;
    right: 2px;
}

.relative-container {
    width: 300px;
    height: 300px;
    border: 1px solid #542700;
    margin-top: 120px;
    position: relative;
}


.absolute-1,
.absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #320139;
    position: absolute;
}

.absolute-1 {
    top: 10px;
    left: 10px;
}

.absolute-2 {
    bottom: 10px;
    right: 10px;
}

.fixed {
    width: 100px;
    height: 100px;
    background-color: #b6887d;
    border: 1px solid #780703;
    position: fixed;
    top: 50px;
    right: 100px;
}

.sticky {
    width: 100px;
    height: 100px;
    background-color: #b6887d;
    border: 1px solid #780703;
    position: sticky;
    top: 50px;
}

/* z-index */

.absolute-3,
.absolute-4,
.absolute-5 {
    width: 50px;
    height: 50px;
    background-color: #320139;
    border: 2px solid #fcacf6;
    position: absolute;
}

.absolute-3 {
 top: 0;
 left: 0; 
 background-color: #00ccbe; 
 z-index: 3; 
}

.absolute-4 {
    top: 15px;
    left: 15px;
    background-color: #edebc9;
    z-index: 2;
}

.absolute-5 {
    top: 30px;
    left: 30px;
}

