@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #5e5a54;
}

body {
    font-size: 100%;
    background: linear-gradient(90.00deg, #e3e5d7 17%, #586875 85.60%);
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
   
}


.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #5e5a54;
    font-weight: 400;
    font-size: 48px;
}

section ul li {
    list-style: none;
}

.form-main {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.table-main {
    margin: 1.5rem;
    padding: 0.5rem;
}

.table-main tr td {
    padding: 0.30rem;
}